@import "styles/app";

.ins-del-chart {
  width: 20rem;
  // position: absolute;
  text {
    // fill: var(--primary-color);
    // filter: invert(100) grayscale(100) contrast(100);
    font-size: 64px;
  }

  svg {
    // padding-top: 20px;
    width: 100%;
    text {
      fill: white !important;
      color: white !important;
      font-size: 30px !important;
    }
  }
}

.ins-del-chart-title {
  font-size: $font-size-title;
  font-weight: $font-weight-semibold;
  margin-bottom: 1rem;
}
